{% if header %}

    <div class="columns header">
        <div class="column is-6-tablet create-h2-margin">
            <h2 data-appear="" class="no-limit"  style="margin-left: 25%">{{ header }}</h2>
        </div>
    </div>

{% endif %}

<div class="columns body is-multiline">

    <div class="column clipped-360-column is-6-tablet">
        <div class="clipped-360 {{ clipping }}">
            <div class="background-image" style="background-image: url('{{ TimberImage(image).src('bunker-large') }}')">
                <img src="https://placehold.it/4x3" alt="" class="placeholder">
            </div>

            <div class="button-fullscreen  is-hidden-mobile" data-kuula="{{ kuula|share }}">
                <img src="{{ theme.link }}/assets/images/open360.svg" alt="">
            </div>
        </div>

        <div class="slider-navbar" style="justify-content: flex-start">
                <div class="slide-subtitles is-hidden-mobile" style="justify-content: flex-end;">
                    <h3 class="slide-subtitle is-active">
                        {{ subtitle }}
                    </h3>
                </div>

            </div>
    </div>

    {# <div class="column is-hidden-tablet" style="padding-left: 2.25rem; padding-right: 2.25rem">
        <h3 class="slide-subtitle is-active">
            {{ subtitle }}
        </h3>
    </div>

    <div class="column text-column is-hidden-mobile is-6-tablet">
        <div data-appear="">
            <h1>{{ title }}</h1>
        </div>
        <div data-appear="" data-appear-delay="200ms">
            <p>{{ text }}</p>
        </div>

        {% if button | length > 0 %}
            <div data-appear="" data-appear-delay="400ms">
                <a href="{{ button[0].button_link }}{{ button[0].button_link_suffix }}" class="button">{{ button[0].button_caption }}</a>
            </div>
        {% endif %}
    </div>
    
    <div class="column is-hidden-tablet">
        <div data-appear="">
            <h1>{{ title }}</h1>
        </div>
        <div data-appear="" data-appear-delay="200ms">
            <p>{{ text }}</p>
        </div>

        {% if button | length > 0 %}
            <div data-appear="" data-appear-delay="400ms">
                <a href="{{ button[0].button_link }}{{ button[0].button_link_suffix }}" class="button">{{ button[0].button_caption }}</a>
            </div>
        {% endif %}
    </div> #}

    <div class="column is-hidden-tablet" style="padding-left: 2.25rem; padding-right: 2.25rem">
        <div class="slide-subtitles">
            <h3 class="slide-subtitle is-active">
                {{ subtitle }}
            </h3>
        </div>
    </div>

    <div class="column is-hidden-tablet" style="padding-left: 2.25rem; padding-right: 2.25rem">
        <div data-appear="">
            <h1>{{ title }}</h1>
        </div>
        <div data-appear="" data-appear-delay="200ms">
            <p>{{ text }}</p>
        </div>

        {% if button | length > 0 %}
            <div data-appear="" data-appear-delay="400ms">
                <a href="{{ button[0].button_link }}{{ button[0].button_link_suffix }}" class="button">{{ button[0].button_caption }}</a>
            </div>
        {% endif %}
    </div>

    <div class="column text-column is-hidden-mobile is-6-tablet">
        <div data-appear="">
            <h1>{{ title }}</h1>
        </div>

        <div data-appear="" data-appear-delay="200ms">
            <p>{{ text }}</p>
        </div>

        {% if button | length > 0 %}
            <div data-appear="" data-appear-delay="400ms">
                <a href="{{ button[0].button_link }}{{ button[0].button_link_suffix }}" class="button">{{ button[0].button_caption }}</a>
            </div>
        {% endif %}
    </div>
    {#  #}
</div>