<div class="footer-placeholder"></div>

<footer id="footer" class="footer {{ background_color }}">
  <div class="container is-fluid">
    <div class="columns is-mobile is-multiline">
      <div class="column is-12-mobile is-12-tablet is-3-desktop">
        <div class="content">
          <div class="logo">
            {# <img src="{{ logo_url }}"> #}
             {% include "components/logo.twig" %}
          </div>
          <p style="margin-bottom: 0">
            <a class="" href="{{ site.link }}/disclaimer">Disclaimer</a>
          </p>
        </div>
      </div>
      <div class="column is-12-mobile is-6-tablet is-3-desktop">
        <div class="content">
          <p>
            Voor vragen en informatie<br>neem contact op via het contactformulier
          </p>
          <p style="margin-bottom: 0">
            <a class="button" target="_blank" href="{{ site.link }}/contact">contact</a>
          </p>
        </div>
      </div>
      <div class="column is-12-mobile is-6-tablet is-3-desktop">
        <div class="content">
          <p>
            Voor het laatste nieuws en updates schrijf je in voor de nieuwsbrief
          </p>
          <p style="margin-bottom: 0">
            <a class="button" target="_blank" href="{{ site.link }}/nieuwsbrief">nieuwsbrief</a>
          </p>

        </div>
      </div>
      <div class="column is-12-mobile is-6-tablet is-3-desktop">
        <div class="content">
          <p>
            Woningen<br>
            <a href="mailto:{{ contact.mail }}">{{ contact.mail }}</a><br>
            <a href="tel:{{ contact.phone|replace(' ', '') }}">{{ contact.phone }}</a>
          </p>
          <p style="margin-bottom: 0">
            Grand Café &amp; Kantoor<br>
            <a href="mailto:info@verschuuren-schreppers.nl">info@verschuuren-schreppers.nl</a><br>
            <a href="tel:0402111112">040 211 11 12</a>
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12-mobile is-6-tablet is-3-desktop is-offset-9-desktop">
        <div class="content">
          <p style="margin-bottom: 0">
            <a target="_blank" href="https://www.facebook.com/BunkerToren/">Facebook</a>
            <br>
            <a target="_blank" href="https://www.instagram.com/bunkertoren/">Instagram</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>
